/* Header */

#header {
  background: white;
  height: var(--header-height);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 0 20px;
  z-index: 9999;
}

#header img {
  height: calc(100% - 20px);
  margin: 10px;
}

#header #search img {
  margin: 0;
}

#header input,
#header button {
  border: 1px solid var(--yt-grey);
}

#header input {
  width: 100%;
  padding: 10px;
  outline: none;
  border-right: none;
  border-radius: 3px 0 0 3px;
}

#header button {
  border-radius: 0 3px 3px 0;
}

#header .avatar {
  border-radius: 50%;
  width: auto;
}

#search {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#search-input {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  flex-grow: 1;
}

#header .icon {
  opacity: 0.6;
}
