/* Basics */

:root {
  --yt-grey: #c6c6c6;
  --yt-red: #c00;
  --yt-text: #606060;
  --header-height: 50px;
}

body {
  /* Important here because css reset removes padding */
  padding-top: calc(var(--header-height) + 20px) !important;
}

a {
  text-decoration: none;
  color: var(--yt-text);
}

/* Header */

#header {
  background: white;
  height: var(--header-height);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  padding: 0 20px;
}

#header img {
  height: calc(100% - 20px);
  margin: 10px;
}

#header input,
#header button {
  border: 1px solid var(--yt-grey);
}

#header input {
  width: 100%;
}

#search {
  flex-grow: 1;
}

#search-input {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
}

/* Subheadline area */

#subheadline button {
  display: flex;
  align-items: center;
  background: white;
  border: none;
  padding: 10px;
}

#subheadline button img {
  margin-right: 5px;
}

/* Content area */

#description .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#description button {
  background: none;
  border: none;
  color: var(--yt-text);
  font-weight: bold;
}

#description button#subscribe-cta {
  background: var(--yt-red);
  padding: 20px;
  color: white;
  border: none;
}

#main-content {
  margin: 0 auto;
  max-width: 1200px;
}

#content {
  background: white;
}

#subheadline {
  display: flex;
}

#subheadline p {
  flex-grow: 1;
}

* {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#content {
  max-width: 768px;
  margin: auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Ignore above this. */
.comment-input {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-areas: "avatar comment";
}
.avatar {
  border-radius: 50%;
  grid-area: avatar;
  background: #fc0;
  height: 64px;
  width: 64px;
}
.input {
  grid-area: comment;
  background: #fefefe;
  padding: 1rem;
}
.comment-list {
  margin-top: 2rem;
  grid-column-end: span 2;
}

.comment-item {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-areas:
    "avatar comment"
    "meta meta";
  background: rgba(0, 0, 0, 0.05);
  padding: 1rem;
}
.comment {
  grid-area: comment;
  padding: 1rem;
}
.meta {
  grid-area: meta;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 12px;
}
.comment-item > .comment-list {
  padding-left: 2rem;
}

#he {
  font-size: 40px;
  margin-left: 15px;
  color: brown;
}

.sidebar-item img {
  width: 100%;
}

body {
  background-color: #152836;
}
.demo-gallery > ul {
  margin-bottom: 0;
}
.demo-gallery > ul > li {
  float: down;
  margin-bottom: 15px;
  margin-right: 20px;
  width: 200px;
}
.demo-gallery > ul > li a {
  border: 3px solid #fff;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}
.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}
.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
.home .demo-gallery {
  padding-bottom: 80px;
}
